html,
body {
  width: 100px;
}

button {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  background-color: #f2ebe5;
}

button:hover {
  background-color: #e20d0d;
}
