* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  width: 80%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  background-color: #f2ebe5;
}

button:hover {
  background-color: #e20d0d;
}
